
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
main{
    width: 100vw;
    height: 100vh;
    background: url(https://media.istockphoto.com/id/1138008438/photo/abstract-3d-black-cube-wall-background.jpg?s=612x612&w=0&k=20&c=1hfp2oyK_LBQWobe01B8FSuJu1fQgg1ktdSM_OGcwOk=);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr ;
    grid-template-areas: "nav nav"
                        "aside1 aside2"
                        "aside1 asid2";
    nav{
        grid-area: nav;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 600px;
         border-bottom: 10px solid #4d4d4d;
        h1{
            color: white;
        .navbar-divdot{
            margin-left: 4px;
            width: 4px;
            height: 4px;
            background-color: orange;
            display: inline-block;
            
        }}
        img{
            width:50px;
            height: 50px;
            // border: 0.1px solid white;
            border-radius: 50%;
            background-color: white;
            border: 1px solid white;
        }
        .Contact{
            justify-items: center;
            align-items: center;
            height: 35px;
            width: 120px;
            font-weight: 700;
            letter-spacing: 1px;
            background-color:#6c6b70;
            border: none;
            border-radius: 5px;
            border-left: 1px solid white;
             border-right: 1px solid white;
             color: white;
             font-size: 15px;
             padding: 10px 10px;
        }
          
    }
    #aside1{
        grid-area:aside1;
        padding: 50px;
        h1{
            font-size: 15px;
            color: white;
        }
        .aside1-second-h1{
            padding-top: 50px;
            font-size: 50px;
            color: white;
        }
        h3{
            color: white;
            font-weight: 100;
        }
        
    }
    #aside2{
        background-color: blue;
        grid-area:aside2;
    }
}