
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
main{
    width: 100vw;
    height: 100vh;
    background: url(https://media.istockphoto.com/id/1138008438/photo/abstract-3d-black-cube-wall-background.jpg?s=612x612&w=0&k=20&c=1hfp2oyK_LBQWobe01B8FSuJu1fQgg1ktdSM_OGcwOk=);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr ;
    grid-template-areas: "nav nav"
                        "aside1 aside2"
                        "aside1 asid2";
    nav{
        grid-area: nav;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 600px;
         border-bottom: 10px solid #4d4d4d;
        h1{
            color: white;
        .navbar-divdot{
            margin-left: 4px;
            width: 4px;
            height: 4px;
            background-color: orange;
            display: inline-block;
            
        }}
        img{
            width:50px;
            height: 50px;
            // border: 0.1px solid white;
            border-radius: 50%;
            background-color: white;
            border: 1px solid white;
        }
        .Contact{
            justify-items: center;
            align-items: center;
            height: 35px;
            width: 120px;
            font-weight: 700;
            letter-spacing: 1px;
            background-color:#6c6b70;
            border: none;
            border-radius: 5px;
            border-left: 1px solid white;
            border-right: 1px solid white;
            color: white;
            font-size: 15px;
            padding: 10px 10px;
        }
          
    }
    #aside1{
        grid-area:aside1;
        padding: 50px;
        h1{
            font-size: 15px;
            color: white;
        }
        .aside1-second-h1{
            padding-top: 50px;
            font-size: 90px;
            color: white;
        }
        h3{
            color: white;
            font-weight: 100;
            span{
                display: inline-block;
                width:50px;
                height:1px;
                color: white;
                background-color: white; 
                margin-bottom: 5px;           }
        }
       
    .invertedcomma{
        color: #1c1c1c;
        margin-top: 50px;
        height: 50px;
        width: 50px;
    } 
    P{
        color: white;
        font-weight: 500;
        padding-top:3px;
        letter-spacing: 2px;
    }   
    }
    #aside2{
        grid-area:aside2;
        position: relative;
        .menimg{
            height: 600px;
            width:400px;
            position:absolute;
            object-fit: cover;
            object-position: center;
            left:-20%;}
.button {
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 16px;
  border: none;
  padding: 2px;
  background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
  position:absolute;
  left: 0;
  bottom: 15px;


  &::after {
    content: "";
    position: absolute;
    width: 65%;
    height: 60%;
    border-radius: 120px;
    top: 0;
    right: 0;
    box-shadow: 0 0 20px #ffffff38;
    z-index: -1;
  }

  .blob1 {
    position: absolute;
    width: 70px;
    height: 100%;
    border-radius: 16px;
    bottom: 0;
    left: 0;
    background: radial-gradient(
      circle 60px at 0% 100%,
      #3fe9ff,
      #0000ff80,
      transparent
    );
    box-shadow: -10px 10px 30px #0051ff2d;
  }

  .inner {
    padding: 14px 25px;
    border-radius: 14px;
    color: #fff;
    z-index: 3;
    position: relative;
    background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 14px;
      background: radial-gradient(
        circle 60px at 0% 100%,
        #00e1ff1a,
        #0000ff11,
        transparent
      );
      position: absolute;}}
    }
    .scialmedia{
        position: absolute;
        right: 1%;
        top: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 100px;
        border-radius:10px;
        border: 2px solid #565656;
        background: linear-gradient(to  top, #565656,#3e3e3e);

        i{  
            color: white;
            font-size:25px;
        }
      
    }
      .hourly-rate{
            position: absolute;
            right: 5%;
            bottom: 5%;
            font-size: 35px;
            color: white;
        img{
            filter:invert(1);
            height: 50px;
            width:50px;
            margin-bottom: 10px;
        }    
        }
 }}